<h1>Events Created by <%= @user.email %></h1>
<div>
  <% @user.created_events.each do |event| %>
    <div>
      <strong>Title:</strong> <%= event.title %>
      <br>
      <strong>Event-Date</strong> <%= event.event_date %>
      <br>
      <strong>Creator's Email:</strong> <%= event.creator.email %>
    </div>
    <% if event.attendees.to_a.none? { |user| user.id == current_user.id } %>
      <%= form_with url: "/attendee_event", method: :post do |form| %>
        <%= form.hidden_field :event_id, value: event.id %>
        <%= form.submit "Attend this Event" %>
      <% end %>
    <% else %>
      <em>You will attend this event!!</em>
    <% end %>
    <br>
    <%= link_to "Edit", edit_event_path(event) %>
    <%= link_to "Delete", event_path(event), method: :delete %>
    <br>
    <strong>Attendees:</strong>
    <ul>
      <% event.attendees.each do |user| %>
        <li>Id:<%= user.id %> Email:<%= user.email %></li>
      <% end %>
    </ul>
  <% end %>
    <br>
    <h2>Attended Events:</h2>
    <strong>Past</strong>
    <ul>
      <% @user.attended_events.each do |event| %>
        <% if event.event_date < Date.today %>
          <li>Title: <%= event.title %> Event-date: <%= event.event_date %></li>
        <% end %>
      <% end %>
    </ul>
    <strong>Future</strong>
    <ul>
      <% @user.attended_events.each do |event| %>
        <% if event.event_date >= Date.today %>
          <li>Title: <%= event.title %> Event-date: <%= event.event_date %></li>
        <% end %>
      <% end %>
    </ul>
</div>
