<h1>Events</h1>
<div>
  <% @events.each do |event| %>
    <div>
      <strong>Title:</strong> <%= event.title %>
      <br>
      <strong>Event-Date</strong> <%= event.event_date %>
      <br>
      <strong>Creator's Email:</strong> <%= event.creator.email %>
      <% if user_signed_in? %>
        <% if event.attendees.to_a.none? { |user| user.id == current_user.id } %>
          <%= form_with url: "/attendee_event", method: :post do |form| %>
            <%= form.hidden_field :event_id, value: event.id %>
            <%= form.submit "Attend this Event" %>
          <% end %>
        <% else %>
          <em>You will attend this event!!</em>
        <% end %>
      <% end %>
      <br>
      <h2>Attendees:</h2>
      <ul>
        <% event.attendees.each do |user| %>
          <li>Id:<%= user.id %> Email:<%= user.email %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
