<h1>Events</h1>
<section>
  <h2>Past</h2>
  <% @events.past.each do |event| %>
    <article>
      <strong>Title:</strong> <%= event.title %>
      <br>
      <strong>Event-Date</strong> <%= event.event_date %>
      <br>
      <strong>Creator's Email:</strong> <%= event.creator.email %>
      <br>
      <strong>Attendees:</strong>
      <ul>
        <% event.attendees.each do |user| %>
          <li>Id:<%= user.id %> Email:<%= user.email %></li>
        <% end %>
      </ul>
    </article>
  <% end %>
</section>
<section>
  <h2>Upcomming</h2>
  <% @events.upcomming.each do |event| %>
    <article>
      <strong>Title:</strong> <%= event.title %>
      <br>
      <strong>Event-Date</strong> <%= event.event_date %>
      <br>
      <strong>Creator's Email:</strong> <%= event.creator.email %>
      <br>
      <strong>Attendees:</strong>
      <ul>
        <% event.attendees.each do |user| %>
          <li>Id:<%= user.id %> Email:<%= user.email %></li>
        <% end %>
      </ul>
      <br>
      <% if user_signed_in? %>
        <% if event.creator == current_user || event.guests.any? { | guest | guest == current_user } %>
          <% if event.attendees.to_a.none? { |user| user.id == current_user.id } %>
            <em>You were invited to this event!!</em>
            <%= button_to "Attend this Event", attendee_event_path({id: event.id}), method: :post %>
          <% else %>
            <em>You will attend this event!!</em>
            <%= button_to "Unattend this Event", attendee_event_path({id: event.id}), method: :delete %>
          <% end %>
        <%= link_to "Show", event_path(event) %>
        <% end %>
      <% end %>
    </article>
  <% end %>
</section>
