<nav>
<%= link_to "Show Events", events_path %>
<%= link_to "Create Event", new_event_path %>
<% if user_signed_in? %>
  <%= link_to "My Created Events", "/users/created_events" %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>
</nav>
